@charset "utf-8";
/* CSS Document */

.login h1 {
text-align:center;
}
.login h1 a {
background-image: url(img/syukatu-logo.png);
background-size: auto;
height:112px;
background-repeat: no-repeat;
width: 265px;
}