@charset "utf-8";
/*
Theme Name: 就活志塾2014
Description: 就活志塾オリジナルデザインver2014
Author:Quantsdesign
Author URI: http://quantsdesign.com/
*/
/*reset
---------------------------------------*/
* {
margin: 0;
padding: 0;
} 
a:link {
color: #1C7FEC;
}
a:visited {
color: #0E54A0;
}
a:hover {
color: #ED301B;
}
a img {
text-decoration: none;
border: none;
}
li, ul, ol {
list-style-type: none;
padding: 0px;
text-indent: 0;
margin: 0px;
}
a img {
text-decoration: none;
border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
margin:0;
padding:0;
}
table {
font-size: 100%;
border-collapse: collapse;
border-spacing: 0;
}
.none {
display: none;
}
.les span  {
display: none;
}

.clear {
clear: both;
}
.clearfix {
display: block;
height: 0;
font-size:0;
clear: both;
visibility:hidden;
}
caption, th, td {
font-weight: normal;
text-align: left;
}
/*basic style
---------------------------------------*/
.flol {
float: left;
}
.flor {
float:right;
}
.txr {
text-align:right;
}
.txl {
text-align:left;
}
.txc {
text-align:center;
}
.nomar {
margin:0 !important
}
h1,h3,h4,h5,h6 {
	clear: both;
}
.small {
font-size:0.8em;
}
/*body
---------------------------------------*/
body {
text-align: center;
font-size: 15px;
line-height: 1.6em;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'モリサワ 新ゴ R', "Shin Go Regular", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}
#header {
width: 1060px;
margin-right: auto;
margin-left: auto;
position: relative;
height: 130px;
}
#header h2 {
position: absolute;
font-size: 0.9em;
font-weight: normal;
left: 273px;
top: 87px;
}
#header h1 {
position: absolute;
left: -10px;
top: 0px;
}
#login li a {
background-image: url(img/login-btn.png);
background-repeat: no-repeat;
display: block;
height: 33px;
width: 114px;
}
#login li {
float: left;
margin-right: 12px;
}
#header #login {
background-image: url(img/dotted-back.png);
background-repeat: repeat;
padding: 12px;
overflow: hidden;
width: 242px;
position: absolute;
top: 0px;
right: 20px;
}
#login #hed_join a {
background-position: -117px 0px;
}
#login #hed_logout a {
background-position: 0px -33px;
}
#login #hed_setting a {
background-position: -117px -33px;
}
#login #hed_setting {
margin-right: 0px;
}
#login #hed_join {
margin-right: 0px;
}
#login li a:hover {
opacity:0.6;
}
#global_nav ul {
width: 1050px;
margin-right: auto;
margin-left: auto;
overflow: hidden;
background-image: url(img/menu-back.png);
background-repeat: repeat;
text-align: left;
padding-left: 10px;
}
#global_nav ul li a {
font-weight: bold;
color: #FFF;
text-shadow:0 1px 1px rgba(0,0,0,0.7);
text-decoration: none;
font-size: 1em;
line-height: 1em;
display: block;
padding-top: 15px;
padding-right: 35px;
padding-bottom: 15px;
padding-left: 35px;
}
#global_nav ul li a:hover {
opacity:0.8;
}
#global_nav ul li {
float: left;
}

#top_image {
background-image: url(img/dotted-back.png);
background-repeat: repeat;
width: 1060px;
margin-right: auto;
margin-left: auto;
padding-top: 15px;
padding-bottom: 15px;
margin-top: 15px;
}
#top_image #image {
background-image: url(img/top-fire01.jpg);
background-repeat: no-repeat;
height: 350px;
width: 1030px;
margin-right: auto;
margin-left: auto;
position: relative;
overflow: hidden;
}
#top_image #image #fire01 {
background-image: url(img/top-fire02.jpg);
background-repeat: repeat;
height: 400px;
width: 1060px;
position: absolute;
left: -17px;
top: -22px;
z-index: 5;
}
#image #top_koushi {
background-image: url(img/top-img-koushi.png);
background-repeat: no-repeat;
height: 350px;
width: 1030px;
position: absolute;
left: 0px;
top: 0px;
z-index: 10;
}
#image .top_catch {
background-image: url(img/top-img-catch.png);
display: none;
height: 140px;
width: 165px;
position: absolute;
z-index: 20;
background-repeat: no-repeat;
/* [disabled]left: 845px; */
/* [disabled]top: 231px; */
}
#image #catch01 {
left: 453px;
top: -1px;
}
#image #catch02 {
background-position: -190px 0px;
top: 6px;
right: 25px;
}
#image #catch03 {
background-position: 0px -160px;
left: 397px;
bottom: -24px;
}
#image #catch04 {
background-position: -189px -151px;
right: 24px;
bottom: -20px;
}
#container {
width: 1030px;
margin-right: auto;
margin-left: auto;
padding-top: 30px;
padding-bottom: 60px;
text-align: left;
}
/*contant
---------------------------------------*/
#content {
width: 750px;
float: right;
}
#top_h01 {
background-image: url(img/midashi-titile.png);
background-repeat: no-repeat;
width: 720px;
text-indent: -9999px;
height: 35px;
}
#top_h02 {
background-image: url(img/midashi-titile.png);
background-repeat: no-repeat;
width: 720px;
text-indent: -9999px;
height: 35px;
background-position: 0px -45px;
}
#top_h03 {
background-image: url(img/midashi-titile.png);
background-repeat: no-repeat;
width: 720px;
text-indent: -9999px;
height: 35px;
background-position: 0px -97px;
margin-bottom: 10px;
}
#top_h04 {
background-image: url(img/midashi-titile.png);
background-repeat: no-repeat;
width: 720px;
text-indent: -9999px;
height: 35px;
background-position: 0px -143px;
}
#content #tigai {
padding-top: 30px;
padding-left: 10px;
background-image: url(img/student.png);
background-repeat: no-repeat;
background-position: right top;
padding-bottom: 20px;
/* [disabled]position: relative; */
}
#tigai .point {
/*font-weight: bold;*/
color: #FFF;
background-image: url(img/menu-back.png);
background-repeat: repeat;
font-size: 1.4em;
margin-bottom: 8px;
display: block;
position: relative;
padding-top: 6px;
padding-right: 6px;
padding-bottom: 6px;
padding-left: 15px;
}
#content #tigai .point a {
background-image: url(img/fire-icon.png);
background-repeat: no-repeat;
display: block;
height: 68px;
width: 47px;
position: absolute;
right: 0px;
bottom: 0px;
}

#tigai .point.class01 {
width:45%;
}
#tigai .point.class02 {
width:55%;
}
#tigai .point.class03 {
width:65%;
}
#tigai .point.class04 {
width:75%;
}
#tigai .message {
background-image: url(img/top-message.png);
background-repeat: no-repeat;
height: 145px;
width: 520px;
margin-top: 40px;
margin-right: auto;
margin-left: auto;
}
#content #top_seminar {
background-image: url(img/seminar-view.jpg);
background-repeat: no-repeat;
background-position: right top;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 10px;
padding-right: 10px;
position: relative;
}
#top_seminar #rss a {
display: block;
height: 24px;
width: 24px;
position: absolute;
top: -27px;
right: 29px;
background-image: url(img/rss-btn.png);
background-repeat: no-repeat;
}

#content #top_seminar dl{
min-height:110px;
padding-right: 240px;
}
#content #top_video {
padding-top: 30px;
padding-bottom: 30px;
}
#top_video ul li img {
height: auto;
width: 220px;
}
#top_video ul li {
text-align:center;
width:220px;
border-radius:2px;
box-shadow:0 0 5px rgba(0,0,0,0.8);
float: left;
padding:5px;
margin-right: 7px;
margin-left: 7px;
position: relative;
margin-top: 7px;
margin-bottom: 7px;
min-height:230px;
}
#top_video li .time {
font-size: 0.8em;
font-weight: bold;
}

#top_video ul li .digest{
position:absolute;
display:block;
background-image: url(img/digest.png);
background-repeat: no-repeat;
height: 36px;
width: 189px;
bottom: 0px;
top: 0px;
}
.dl_list dt {
float: left;
clear: both;
width: 145px;
}
.dl_list dd {
padding-left: 145px;
float: none;
border-bottom:#e8e8e8 solid 1px;
}
.link_list {
height:73px;
position:relative;
}
.link_list a{
position:absolute;
top:0;
right:1px;
}

/*aside
---------------------------------------*/
#aside {
float: left;
width: 270px;
}
#aside a:hover {
opacity:0.8;
}
#aside .kaban {
padding-top: 0.5em;
padding-bottom: 0.5em;
text-align: center;
position: relative;
}
#aside #kaban_fire {
background-image: url(img/fire.png);
height: 146px;
width: 216px;
position: absolute;
left: -47px;
top: -28px;
display: block;
background-position: right top;
}
#aside #kaban_fire a{
display:block;
width:100%;
height:100%;
}
#aside .rss {
font-weight: normal;
font-size: 0.9em;
padding-left: 1em;
position: relative;
}
#aside .rss a {
background-image: url(img/rss-btn.png);
background-repeat: no-repeat;
display: block;
position: absolute;
top: 5px;
right: 10px;
height: 12px;
width: 12px;
background-position: -32px -12px;
}
#kaban_list dl {
border:dotted #4a4a4a 1px;
border-bottom:none;
padding:10px;
width: 237px;
margin:0 auto;
font-size: 0.8em;
line-height: 1.6em;
}
#kaban_list dl dd {
margin-bottom: 10px;
font-size: 1.2em;
}

#kaban_list dl a {
color: #181818;
}
.partnar {
padding-top: 0em;
padding-bottom: 1em;
text-align: center;
}
#aside_facebook {
width: 260px;
margin-right: auto;
margin-left: auto;
padding-bottom: 30px;
}
.fb-like-box iframe,
.fb-like-box>span {
width:270px !important;
}




/*footer
---------------------------------------*/
#footer {
background-image: url(img/menu-back.png);
background-repeat: repeat;
padding-top: 75px;
clear: both;
width: 100%;
}
.page .coming {
padding-top:50px;
}
.coming {
font-size: 2.5em;
line-height: 1em;
font-weight: bold;
color: #1C7FEC;
text-align: center;
text-shadow:0 1px 2px rgba(0,0,0,0.7);
}

#footer_bottom {
background-image: url(img/footer-billding.png);
background-repeat: repeat-x;
background-position: bottom;
min-height: 138px;
}

#footer_in {
width: 1060px;
margin-right: auto;
margin-left: auto;
position: relative;
}
#footer #pagetop {
position: fixed;
bottom: 100px;
/* [disabled]padding-left: 57%; */
display: none;
/* [disabled]text-align: right; */
right: 10px;
}
#footer #pagetop a {
background-image: url(img/pagetop.png);
display: block;
height: 159px;
width: 22px;
}
#footer_in ul li {
float: left;
margin-right: 10px;
margin-left: 10px;
}
#footer_in ul li a {
color: #FFF;
text-decoration: none;
background-image: url(img/footer-link.png);
background-repeat: repeat;
display: block;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
padding-left: 10px;
font-size: 0.8em;
}
#footer_in ul li a:hover {
background-image:none;
background-color:white;
color:#0C57AA;
}
#footer_in #copy {
font-size: 0.9em;
color: #FFF;
text-align: right;
clear: both;
}
#copy a img {
vertical-align: middle;
}

#footer_in #copy a {
color: #FFF;
text-decoration: none;
}

/*archive sou
---------------------------------------*/
.archive_list {
padding-top:30px;
padding-bottom:30px;
padding-left:1em;

}
.archive_list li{
overflow:hidden;
clear:both;
padding-bottom:10px;
margin-bottom:10px;
border-bottom:#227EE3 dotted 2px;
}
.archive_img {
float:left;
padding:10px;
}
.archive_img img{
width:150px;
height:auto;

}
.excerpt {
font-size:0.8em;
line-height:1.3em;
}
.archive_right {
padding-top:1.5em;
float:right;
width:560px;
}
.archive_right.noimg {
width:100%;
}
/*searchform sou
---------------------------------------*/
#searchform {
clear:both;
float: right;
padding-right: 10px;
padding-bottom: 10px;
padding-top:10px;
}
#searchform input[type="text"] {
padding:5px; 
border-radius:5px;
border:#999 solid 1px;
}
#searchform input[type="submit"] {
padding:5px 10px;
border-radius:5px;
border:#999 solid 1px;
}
input[type="submit"] {
cursor: pointer;
}
input:focus {
background-color: #eee;
}
/*contact sou
---------------------------------------*/
div.wpcf7.wpcf7 {
clear:both;
padding-top:1em;
}
.wpcf7-form input {
padding:8px;
border-radius:8px;
border:#999 solid 1px;
margin-bottom:5px;
}
.wpcf7-form input[type="checkbox"] {
border-radius:8px;
margin-left:10px;
}
.wpcf7-form textarea {
border-radius:8px;
border:#999 solid 1px;
padding:6px;
width:70%;
}
.hissu {
color:#DA4525;
font-size:0.8em;
font-weight:bold;
}

/*---------------------------------------
wp-pagenavi setting
---------------------------------------*/
.pagelink {
text-align: center;
margin-bottom: 20px;
padding-top: 15px;
clear: both;
margin-top: 15px;
padding-left:10px;
padding-right:10px;
}
.wp-pagenavi {
clear: both;
padding-top:10px;
padding-left:10px;
margin-top: 10px;
font-size: 1.2em;
}
.wp-pagenavi a, .wp-pagenavi span {
text-decoration: none;
padding: 3px 10px;
margin: 2px;
border:#666 solid 1px;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
}
.wp-pagenavi span.current {
font-weight: bold;
border:none;
color: #999;
}
#page_link {
clear:both;
padding:0 3em;

}
.previous {
clear:both;
float:left;
}
.next {
float:right;
}
.previous a,.next a {
font-size:0.9em;
border-radius:3px;
text-decoration: none;
padding: 3px 10px;
display: block;
color: #fff;
background-image: url(img/menu-back.png);
background-repeat: repeat;
}
/*---------------------------------------
image position
---------------------------------------*/
.aligncenter {
margin-right: auto;
margin-left: auto;
display: block;
}
.alignleft {
float: left;
margin-right: 10px;
margin-bottom: 10px;
}
.alignright {
float: right;
margin-bottom: 10px;
margin-left: 10px;
}
/*page link
---------------------------------------*/
.singlepostlink {
padding-top:20px;
font-size:0.9em;
}
span.oldpage {
float: right;
}
span.newpage {
float: left;
}
/*social
---------------------------------------*/
#social {
padding-right:10px;
padding-left:10px;
display:block;
padding-right:3px;
padding-top:5px;
}
#social li {
float:left;
margin-top:5px;
margin-left:5px;
}

#social_b {
clear:both;
text-align:center;
border-top:1px solid #217EE5;
border-radius:3px;
margin:1em 0;
overflow:hidden;
padding:5px;
}
#social_b li {
float:right;
margin:5px 2px;
}
/*pankuzu
---------------------------------------*/
#pankuzu {
float:right;
padding-right:10px;
padding-top:5px;
font-size:0.7em;
}
#pankuzu {
text-decoration:none;
}
/*blog post
---------------------------------------*/
.content_post {
height: 100%;
clear: both;
overflow: hidden;
padding-bottom: 20px;
padding-top: 30px;
padding-right: 15px;
padding-left: 15px;
text-align: left;
}
.content_post p {
margin-bottom: 1.5em;
line-height: 1.6em;
}
.content_post a {
}
.content_post ul li {
list-style-type: disc;
margin-left: 20px;
margin-bottom:6px;
}
.content_post ol li {
list-style-type: decimal;
margin-left: 20px;
margin-bottom:6px;
text-indent: 5px;
}
.content_post ul {
margin-bottom:0.8em
}
.content_post h1 {
display:block;

font-size:2.5em;
font-weight:bold;
margin-top: 0.67em;
margin-right: 0;
margin-bottom: 0.67em;
margin-left: 0;
line-height: 1.1em;
padding-top: 0.5em;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}
.content_post h2 {
display:block;
margin-top: 1em;
margin-right: 0;
margin-bottom: 0.2em;
margin-left: 0;
padding-top: 3px;
padding-right: 0px;
padding-bottom: 3px;
padding-left: 10px;
color:#E20500;
border-left-width: 8px;
border-left-style: solid;
border-left-color: #E20500;
font-size: 1.4em;
line-height: 1.3em;
}
.content_post h3 {
display:block;
font-size:1.3em;
font-weight:bold;
margin-top: 1em;
margin-right: 0px;
margin-bottom: 0.2em;
margin-left: 0px;
padding-top: 3px;
padding-right: 0px;
padding-bottom: 3px;
clear: both;
color:#E30600;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #E30600;
line-height: 1.3em;
}
.content_post h4 {
display:block;
font-size:1em;
margin-top: 1.33em;
margin-right: 0;
margin-bottom: 1em;
margin-left: 0;
clear: both;
padding-top: 5px;
padding-right: 0px;
padding-bottom: 5px;
padding-left: 5px;
color: #FFF;
background-color: #68B1F5;
line-height: 1em;
}
.content_post h5 {
display:block;
font-size:1em;
font-weight:bold;
border-left-width: 15px;
border-left-style: solid;
border-left-color: #000;
margin-top: 1em;
margin-right: 0;
margin-bottom: 0.2em;
margin-left: 0;
padding-left: 5px;
line-height: 1em;
}
.content_post h6 {
display:block;
font-size:1em;
font-weight:bold;
margin-top: 1em;
margin-right: 0;
margin-bottom: 0.5em;
margin-left: 0;
padding-top: 3px;
padding-bottom: 3px;
border-bottom-width: 3px;
border-bottom-style: double;
border-bottom-color: #000;
}
.content_post .nolistmark li {
list-style-type: none;
}
.content_post blockquote {
margin:0.8em;
}
.content_post table {
margin-bottom: 0;
margin-top: 10px;
margin-bottom: 10px;
}
.content_post table caption {
text-align:left;
font-weight:bold;
}
.content_post table th, .content_post table td {
border:solid 1px #1E7FE8;
padding: 6px;
}
.content_post table th {
background-color:#C9E0FA;
}
blockquote:before, blockquote:after, q:before, q:after {
content: " ";
}
blockquote, q {
quotes: "" "";
padding-top: 15px;
padding-right: 5px;
padding-bottom: 0px;
padding-left: 5px;
}
/*sitemap
---------------------------------------*/
#sitemap {
padding:10px 10px;
}
#sitemap li li {
border-left-width: 1px;
border-left-style: solid;
border-left-color: #666;
background-image: url(img/li.gif);
background-repeat: no-repeat;
padding-left: 20px;
background-position: left center;
}
#sitemap li {
padding-top: 3px;
padding-bottom: 3px;
}
/*single sou
---------------------------------------*/
.time,time {
float:right;
font-size:0.9em;
font-weight:bold;
}
.page_title,
.single_title,
.content_post .page_title {
color:#1E7FE8;
border:none;
font-size:1.8em;
line-height:1.2em;
text-shadow:0 1px 2px rgba(0,0,0,0.3);
}
.about .content_post .page_title {
padding-top:0;
margin-top:10px;
}
.about .content_post {
padding-top:0;
}
.second_title {
padding-top:30px;
}
.post-categories{
clear:both;
}
.post-categories {
font-size:0.9em;S
overflow:hidden;
}
.post-categories li {
float:right;
margin-right:5px;
}
a.blue_btn,
.post-categories li a {
border-radius:3px;
text-decoration:none;
padding:2px 7px;
display:block;
color:#fff;
background-image: url(img/menu-back.png);
background-repeat: repeat;
}
#screen {
width:640px;
margin:0 auto;
position:relative;
}
#screen .digest{
position:absolute;
display:block;
background-image: url(img/digest.png);
background-repeat: no-repeat;
height: 36px;
width: 189px;
top: 22px;
left:0px;
z-index:100;
}
#screen iframe{
position:relative;
z-index:50;
}
.fb-comments {
padding-top:1em;
width:720px;
padding-left: 15px;
}
/*page sou
---------------------------------------*/
.contact a.blue_btn {
padding:5px 10px;
margin-bottom:10px;
clear:both;
float:left;
}

/*about sou
---------------------------------------*/
#aboutcontents {
text-align:left;
width:1060px;
overflow: hidden;
margin-top: 30px;
margin-right: auto;
margin-bottom: 15px;
margin-left: auto;
}
#about_t {
width:298px;
border:3px solid #1c7fec;
background-image: url(img/about_t01.png);
background-repeat: no-repeat;
background-position: center top;
padding-top: 115px;
float: left;
margin-right: 10px;
height: 229px;
}
#about_t ul li {
cursor:pointer;
font-weight:bold;
color: #1c7fec;
font-size: 1.1em;
line-height: 2em;
position: relative;
padding-left: 26px;
margin-bottom: 15px;
}
#about_t ul li span {
cursor:pointer;
background-image: url(img/fire-mini.png);
background-repeat: no-repeat;
height: 23px;
width: 18px;
position: absolute;
left: 0px;
top: 0px;
}
#about_t ul {
padding-left: 15px;
/* [disabled]padding-bottom: 30px; */
}
/*left*/
#about_01 {
background-image: url(img/about_01.jpg);
}
#about_02 {
background-image: url(img/about_02.jpg);
}
#about_03 {
background-image: url(img/about_03.jpg);
}
#about_04 {
background-image: url(img/about_04.jpg);
}
#about_01,
#about_02,
#about_03,
#about_04 {
display:none;
height: 344px;
width: 740px;
background-repeat: no-repeat;
float: left;
}
#about_c {
border:3px solid #1c7fec;
width: 454px;
height: 344px;
float: left;
margin-right: 10px;
position: relative;
background-position: left bottom;
background-image: url(img/fire-back.png);
background-repeat: no-repeat;
}
#about_c ul li a {
display: block;
}
#about_r p,
#about_c ul li {
cursor:pointer;
}
#about05 {
position: absolute;
height: 69px;
width: 366px;
top: 15px;
left: 25px;
background-image: url(img/about_t05.png);
}
#about06 {
position: absolute;
height: 77px;
width: 249px;
top: 185px;
left: 23px;
background-image: url(img/about_t06.png);
background-repeat: no-repeat;
z-index: 80;
}
#about10 {
position: absolute;
top: 115px;
left: 137px;
z-index: 80;
font-size: 1.7em;
font-weight: bold;
color: #1C7FEC;
background-image: url(img/about_t10.png);
background-repeat: no-repeat;
background-position: 0px -35px;
width: 267px;
height: 36px;
}
#about07 {
position: absolute;
height: 149px;
width: 224px;
top: 190px;
left: 216px;
background-image: url(img/about_t07.png);
background-repeat: no-repeat;
z-index: 70;
}
#about05 a,
#about06 a,
#about07 a,
#about10 a,
#about11 a,
#about09 a {
display:block;
width:100%;
height:100%;
}
#about_r {
position:relative;
border:3px solid #1c7fec;
float: left;
width: 269px;
height: 344px;
}
#about08 {
position:absolute;
top: 72px;
right: 10px;
}
#about11 {
background-image: url(img/about_t10.png);
background-repeat: no-repeat;
height: 35px;
width: 220px;
position: absolute;
left: 19px;
top: 18px;
}
#about11:hover,
#about08:hover {
transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
-o-transform: rotate(-5deg);
-webkit-transform: rotate(-5deg);
}
#about09 {
background-image: url(img/about_konshin.png);
background-repeat: no-repeat;
position:absolute;
height: 160px;
width: 160px;
top: 178px;
left: 15px;
display: block;
}
#about09:hover {
background-position:0 -160px;
}
/*seminars sou
---------------------------------------*/
.kaban_img {
padding:10px;
}
.seminars #top_seminar #rss a {
right: auto;
left:250px;
top: -30px;
}
.seminars .dl_list dd {
padding-bottom:3px;
margin-bottom:7px;
}
.seminars #content #top_seminar dl {
padding-right: 15px;
}
.seminars #content #top_seminar {
background-image: url(img/seminar-view-page.jpg);
min-height: 350px;
}

.content_post .seminar_form {
width:500px;
margin:1em auto;
padding:1em;
border:2px solid #E30500;
border-radius:3px;
}
.content_post .seminar_form_btn input{
color:#fff;
text-align:center;
background-color:#E30500;
border-color:#E30500;
}
.content_post .seminar_form th {
padding:5px;
border:none;
background-color:transparent;
}
.content_post .seminar_form td {
padding:5px;
border:none;
}
.content_post .seminar_form .seminar_oubo_title {
color:#fff;
text-align:center;
background-color:#E30500;
}
/*kaban sou
---------------------------------------*/
.kaban .content_post {
background-image: url(img/kaban.jpg);
background-repeat: no-repeat;
background-position: right top;
}
.content_post .kaban_flow li {
background-image: url(img/flow_yaji.png);
background-repeat: no-repeat;
padding-bottom:40px;
background-position: center bottom;
}
.content_post .kaban_flow {
padding-bottom:1em;
}
.content_post .red {
color: #e30500 !important;
border-top-color: #e30500 !important;
border-right-color: #e30500 !important;
border-bottom-color: #e30500 !important;
border-left-color: #e30500 !important;
text-align:center;
}

/*faq sou
---------------------------------------*/
.faq .content_post dl {
padding-left:2em;

}
.faq .content_post dl dt{
font-size:1.2em;
line-height:1.5em;
background-image: url(img/faq.png);
background-repeat: no-repeat;
padding-left: 40px;
padding-top: 10px;
min-height:40px;
padding-bottom: 5px;
}
.faq .content_post dl dd{
padding-left:70px;
margin-bottom:3em;
min-height:40px;
background-image: url(img/faq.png);
background-repeat: no-repeat;
background-position: 30px -220px;
}
#voice_list {
padding:0 15px;
}
#voice_list li{
float:left;
width:25%;
text-align:center;
margin-bottom:20px;
}
#voice_list li img {
box-shadow:0 2px 5px rgba(0,0,0,0.4);
}
.voice_file {
font-size:0.75em;
text-align:center;
syuka}
/*company sou
---------------------------------------*/
.company .content_post dl {

}
.company .content_post dl dt{
padding:10px;
float:left;
clear:both;
width:220px;
}
.company .content_post dl dd{
float:none;
padding:10px;
padding-left:220px;
border-bottom:dotted 1px #247DE3;
}
/*wp-members sou
---------------------------------------*/
input[type="reset"] {
display:none;
}
input[type="submit"] {
border:1px solid #aaa;
border-radius:6px;
padding:10px 20px;
margin:2em;
text-align:center;
}
#wpmem_reg {

}
fieldset {
border:none;
}
legend {
display:none;
font-size:1.8em;
font-weight:bold;
padding-bottom:1em;
color:#1F7EE8;
}
.div_text {
padding-bottom:10px;
}
#wpmem_login label,
#wpmem_reg label {
padding-left:1em;
margin-top:10px;
}
#wpmem_login input[type="checkbox"],
#wpmem_reg input[type="checkbox"] {
margin-left:1em;
}
#wpmem_login input[type="password"],
#wpmem_login input[type="text"],
#wpmem_reg input[type="text"] {
width:50%;
border:1px solid #aaa;
border-radius:6px;
/*line-height:4em;*/
padding:6px 10px;
margin-left:1em;
}
#wpmem_reg textarea {
width:50%;
border:1px solid #aaa;
border-radius:6px;
line-height:1.5em;
margin-left:1em;
padding:3px 6px;
}
.req {
color:#DE0702;
font-weight:bold;
font-size:0.8em;
}
.red {
color:#DE0702;
font-weight:bold;
font-size:1.6em;
line-height:1.5em;
}

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none;}#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('img/fancyimg/fancybox.png');}#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none;background-image:url(img/fancyimg/overlay.png);background-repeat:repeat;}#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none;}#fancybox-wrap{position:absolute;top:0;left:0;padding:20px;z-index:1101;outline:none;display:none;}#fancybox-outer{position:relative;border-radius:8px;width:100%;height:100%;background:#fff;}#fancybox-content{width:0;height:0;padding:0;outline:none;border-radius: 8px;position:relative;overflow:hidden;z-index:1102;border:0px solid #fff;}#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101;}#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url('img/fancyimg/fancybox.png') -40px 0px;cursor:pointer;z-index:1103;display:none;}#fancybox-error{color:#444;font:normal 12px/20px Arial;padding:14px;margin:0;}#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top;}#fancybox-frame{width:100%;height:100%;border:none;display:block;}#fancybox-left,#fancybox-right{position:absolute;bottom:0px;height:100%;width:35%;cursor:pointer;outline:none;background:transparent url('img/fancyimg/blank.gif');z-index:1102;display:none;}#fancybox-left{left:0px;}#fancybox-right{right:0px;}#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block;}#fancybox-left-ico{background-image:url('img/fancyimg/fancybox.png');background-position:-40px -30px;}#fancybox-right-ico{background-image:url('img/fancyimg/fancybox.png');background-position:-40px -60px;}#fancybox-left:hover,#fancybox-right:hover{visibility:visible;}#fancybox-left:hover span{left:20px;}#fancybox-right:hover span{left:auto;right:20px;}.fancybox-bg{position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001;}#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url('img/fancyimg/fancybox-x.png');}#fancybox-bg-ne{top:-20px;right:-20px;background-image:url('img/fancyimg/fancybox.png');background-position:-40px -162px;}#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url('img/fancyimg/fancybox-y.png');background-position:-20px 0px;}#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url('img/fancyimg/fancybox.png');background-position:-40px -182px;}#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url('img/fancyimg/fancybox-x.png');background-position:0px -20px;}#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url('img/fancyimg/fancybox.png');background-position:-40px -142px;}#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url('img/fancyimg/fancybox-y.png');}#fancybox-bg-nw{top:-20px;left:-20px;background-image:url('img/fancyimg/fancybox.png');background-position:-40px -122px;}#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102;}.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative;}.fancybox-title-outside{padding-top:10px;color:#fff;}.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left;}#fancybox-title-over{padding:10px;background-image:url('img/fancyimg/fancy_title_over.png');display:block;}.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px;}#fancybox-title-float-wrap{border:none;border-collapse:collapse;width:auto;}#fancybox-title-float-wrap td{border:none;white-space:nowrap;}#fancybox-title-float-left{padding:0 0 0 15px;background:url('img/fancyimg/fancybox.png') -40px -90px no-repeat;}#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:bold;padding:0 0 3px 0;background:url('img/fancyimg/fancybox-x.png') 0px -40px;}#fancybox-title-float-right{padding:0 0 0 15px;background:url('img/fancyimg/fancybox.png') -55px -90px no-repeat;}.fancybox-ie6 #fancybox-close{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_close.png',sizingMethod='scale');}.fancybox-ie6 #fancybox-left-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_nav_left.png',sizingMethod='scale');}.fancybox-ie6 #fancybox-right-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_nav_right.png',sizingMethod='scale');}.fancybox-ie6 #fancybox-title-over{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_title_over.png',sizingMethod='scale');zoom:1;}.fancybox-ie6 #fancybox-title-float-left{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_title_left.png',sizingMethod='scale');}.fancybox-ie6 #fancybox-title-float-main{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_title_main.png',sizingMethod='scale');}.fancybox-ie6 #fancybox-title-float-right{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_title_right.png',sizingMethod='scale');}.fancybox-ie6 #fancybox-bg-w,.fancybox-ie6 #fancybox-bg-e,.fancybox-ie6 #fancybox-left,.fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame{height:expression(this.parentNode.clientHeight+"px");}#fancybox-loading.fancybox-ie6{position:absolute;margin-top:0;top:expression((-20+(document.documentElement.clientHeight?document.documentElement.clientHeight/2:document.body.clientHeight/2 )+(ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop ))+'px');}#fancybox-loading.fancybox-ie6 div{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_loading.png',sizingMethod='scale');}.fancybox-ie .fancybox-bg{background:transparent !important;}.fancybox-ie #fancybox-bg-n{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_shadow_n.png',sizingMethod='scale');}.fancybox-ie #fancybox-bg-ne{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_shadow_ne.png',sizingMethod='scale');}.fancybox-ie #fancybox-bg-e{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_shadow_e.png',sizingMethod='scale');}.fancybox-ie #fancybox-bg-se{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_shadow_se.png',sizingMethod='scale');}.fancybox-ie #fancybox-bg-s{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_shadow_s.png',sizingMethod='scale');}.fancybox-ie #fancybox-bg-sw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_shadow_sw.png',sizingMethod='scale');}.fancybox-ie #fancybox-bg-w{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_shadow_w.png',sizingMethod='scale');}.fancybox-ie #fancybox-bg-nw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancyimg/fancy_shadow_nw.png',sizingMethod='scale');}
